:root {
    --primary: 0 112 232;
    --success: 36 225 109;
    --warning: 255 202 58;
    --danger: 255 89 94;
    --base-100: 29 35 42;
    --base-200: 25 30 36;
    --base-300: 21 25 30;
    --input-bg: 21 25 30;
}
